################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

velov_beat:
  # Defines how often an event is sent to the output
  period: 1s
